* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.toss-modal {
    position: absolute;
    background: url("/src/images/game-desktop-bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toss-modal-container {
    background-color: rgba(0, 0, 0, 0.8);
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.toss-modal-container>p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #d7d7d7;
}